body {

    background-color: black;
}

h1 {

    color: blanchedalmond;
    text-align: center;
}

.wrapper {

    text-align: center;
}

.button {

    position: absolute;

    top: 50%;
}

.image {

    justify-self: center;
}


