
body {

    background-color: black;
}

h1 {

    

    color: white;

    width: 1000px;


    margin-bottom: 50px;
}

p {

    

    color: white;
    width: 1000px;
    
    margin-bottom: 50px;
}




form {

    background-color: black;
    color: white;

    margin-top: 10px;

    margin-bottom: 10px;

    width: 100px;
    

}

img {

    margin-top: 25px;

    border-radius: 50%;



}

button {

    color: black;
    background-color: lightskyblue;

    border-radius: 10px;
}




